.form-filter__price,
.form-filter__manufacturer {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;

  @media (min-width: $tablet) {
    font-size: 42px;
    line-height: 64px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    margin-bottom: 30px;
  }
}

.form-filter__manufacturer {
  @media (min-width: $desktop) {
    margin-bottom: 40px;
  }
}

.form-filter__availability {
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
  border: none;

  @media (min-width: $desktop) {
    margin-bottom: 30px;
  }
}

.form-filter__apply {
  padding: 0;
  margin: 0;
  border: none;

  @media (min-width: $tablet) {
    grid-column: 1 / 4;
    display: flex;
    margin: 0 auto;
  }
}
