.map {
  display: block;
  min-height: 420px;
  width: 100%;
  background-color: $lightest-grey;

  @media (min-width: $tablet) {
    min-height: 480px;
  }

  @media (min-width: $desktop) {
    min-height: 540px;
  }
}

.map__image {
  display: block;
  margin: 0 auto;
  width: 100%;
}
